h1 {
    color: blue;
}

label {
    font-weight: bold;
    font-style: italic;
}

.jumbotron {
    min-height: 100vh;
}

.mail{
    color: blue;
}

.divMsg{
    color: brown;
}

.msg{
    color: green;
}